services:
  - type: web
    name: quiz-app
    env: python
    runtime: python-3.11.10
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app --bind 0.0.0.0:$PORT
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.10
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: quiz-db
          property: connectionString
    autoDeploy: true

databases:
  - name: quiz-db
    databaseName: quizdb
    user: quizuser
